/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    min-height: 100vh;
}

/* Navigation */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: bold;
}

.navbar .links, .navbar .action_btn {
    display: flex;
    gap: 3rem;
}

.navbar .toggle_btn {
    color: white;
    cursor: pointer;
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover {
    color: orange;
}

#bag_nav, #login_nav {
    padding: 0.5rem 1rem;
}

#login_nav {
    background-color: orange;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: transform 0.2s ease;
    padding: 0.5rem 1rem;
}

#login_nav:hover {
    transform: scale(1.05);
    color: white;
}

#login_nav:active {
    transform: scale(1);
}

/* Sign_in & Register */
main {
    clear: left;
    display: flex;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    background: url("purple_star_crop_2.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.wrapper .input_box {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.input_box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input_box input::placeholder{
    color: white;
}

.input_box textarea {
    width: 100%;
    height: auto;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    resize: none; /* Prevents resizing */
    overflow: hidden; /* Prevents the scrollbar */
}

.input_box i {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
}

.wrapper .remember_forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    padding-top: 10px;
    margin: -15px 0 15px;
}

.remember_forgot label input {
    accent-color: white;
    margin-right: 4px;
    margin-left: 10px;
}

.remember_forgot a {
    color: white;
    text-decoration: none;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: orange;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: azure;
    font-weight: 600;
}

.wrapper .register_link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register_link p a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.remember_forgot a:hover, .register_link p a:hover {
    color: orange;
    text-decoration: underline;
}

/* Header */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(255, 165, 0, 1);
    min-width: 160px;
    box-shadow: rgba(255, 165, 0, 1);
    z-index: 1;  /* Layer */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content, .dropdown-content a {
    display: block;
}

/* Profile */
.input_box {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    background: orange;
    border: none;
    padding: 15px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover, .dropdown-content a:hover {
    background: darkorange;
}

/* Remove Overflow */
body::-webkit-scrollbar {
    display: none;
}

/* Mobile Nav */
.mobile_nav {
    display: none;
    position: absolute;
    right: 1rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.mobile_nav.open {
    height: 200px;
}

.mobile_nav li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Shop */
.container {
    margin: 0 auto;
    padding: 3rem 2rem;
}

.container .title, .title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

/* .container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
} */

/* .container .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
    max-width: 30rem;
} */

/* .container .products-container .product:hover {
    outline: .2rem solid #222;
    outline-offset: 0;
} */

/* .container .products-container .product img {
    max-width: 100%;
    height: auto;
    max-height: 25rem;
} */

/* .container .products-container .product_picture:hover img {
    transform: scale(.9);
} */

/* .container .products-container .product h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
} */

/* .container .products-container .product:hover h3 {
    color: rgb(90, 101, 134);
} */
/* 
.container .products-container .product .price {
    font-size: 2.5rem;
    color: #444;
} */

/* .container .products-container .product .cart {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* .container .products-container .product .cart:hover {
    background-color: #222;
} */

/* .products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    display: none;
    align-items: center;
    justify-content: center;
} */

/* .products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 70rem;
} */

/* .products-preview .preview.active {
    display: inline-block;
} */

/* .products-preview .preview img {
    height: 20rem;
} */

.preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: white;
    font-size: 4rem;
    transition: transform 0.3s ease;
}
.preview .fa-times:hover {
    transform: rotate(90deg);
}

/* .products-preview .preview h3 {
    color: #444;
    padding: 1rem 0;
    font-size: 1.5rem;
} */

/* .products-preview .preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: .7rem;
    color: #777;
} */

/* .products-preview .preview .price {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: rgb(90, 101, 134);
} */

/* Cart */

#empty_cart {
    color: white;
    text-align: center;
}

/* Shop Page */
.main_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    padding: 20px;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    flex: 3;
}

.product {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.product h3 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

.product .price {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.product .cart {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
    align-self: center;
}

.products_preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.preview {
    display: none;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 500px;
    text-align: center;
}

.preview.active {
    display: block;
}

.preview img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.preview h3 {
    margin: 10px 0;
    font-size: 18px;
}

.preview .price {
    font-size: 16px;
    margin-bottom: 10px;
}

.preview .buttons {
    display: flex;
    justify-content: space-between;
}

.preview .cart, .preview .buy {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

/* Index */

/* Responsive */
@media (max-width: 970px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .mobile_nav {
        display: block;
    }
}

@media (max-width: 350px) {
    .mobile_nav {
        left: 2rem;
        width: unset;
    }
}
